.button1 {
background: url("images/j_button1_left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
margin-left: 5px;
padding-left: 10px;
white-space: nowrap;
}
.maincont{ margin:auto; width:600px;}
.topbar{ padding:5px 10px 0px 10px}
.topbar h3{ text-align:left; font-size:15pt; font-family: Arial;margin: 10px 0 5px 10px;font-size: 1.818em; }
.outerdiv{ width:550px; margin:auto; background-color: #F4F4F4;
       border: 1px solid #CCCCCC;
       border-radius: 10px; margin-top:300px; float:left; }
.matleft{ width:100%; text-align:left; font-size: 1em;
      margin: 0 0 15px 10px;
      padding: 0; font-family: Arial;}
.lock_img{ background:url(images/j_login_lock.jpg) no-repeat; width:152px; height:137px; float:left; margin:9px 0 25px 0;}
.formright{ float:right;  border: 1px solid #CCCCCC;
        border-radius: 10px; padding:10px; margin:15px 15px 15px 0px; width:350px; text-align:left}
.header{ width:100%; float:left; }